/* ===== Marketing Section ===== */
.marketing-section {
  width: 100vw;
  padding: 24px 58px;
  background: #0B0B0F; /* dark background */
  color: #fff;
  font-family: 'DM Sans', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

/* Header */
.marketing-header {
  text-align: center;
  max-width: 900px;
}

.marketing-header p:first-child {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.marketing-header p:last-child {
  font-size: 30px;
  color: #ccc;
  line-height: 1.8;
  font-weight: 400;
}

/* Horizontal icons list */
.horizontal-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Circular background for icon images only */
.icons img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  background: #FFFFFF0D;
  border-radius: 50%; /* makes it circular */
  padding: 15px; /* optional, adds spacing inside circle */
  transition: all 0.3s ease;
  border: 1px solid #FFFFFF33;
}

.icons img:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

/* Icon text below circle */
.icons p {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  margin-top: 0.5rem;
}


/* Button */
.marketing-section > button {
  padding: 12px 32px;
  font-size: 1.125rem;
  font-weight: 700;
  background-color: #272728;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border:  1px solid #676767;
}

.marketing-section > button:hover {
  transform: translateY(-2px);
}

/* ===== Responsive ===== */
@media (max-width: 1024px) {
  .horizontal-list {
    gap: 1.5rem;
  }

  .icons {
    width: 140px;
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .marketing-header p:first-child {
    font-size: 1.5rem;
    text-align: left;
  }

  .marketing-header p:last-child {
    font-size: 0.875rem;
    text-align: left;
  }

  .icons {
    width: 120px;
    padding: 0.8rem;
  }

  .icons img {
    width: 50px;
    height: 50px;
  }
}
